Need to find a way to manipulate data in SQL in an interesting way

PHC_060: most positive level is 1, most negative is 5

PHC_035: most positive level is 1, most negative is 7

PHC_005: Yes or no question, 1 is positive and 2 is negative

PHC_020: Yes or no question, 1 is positive and 2 is negative

UCN_005: Yes or no question, 1 is negative and 2 is positive

Need to create a view in SQL that encodes all variables in some unified format and drops the total spending and year columns